{% if site.data.projects %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa far fa-file-alt"></i>Manuscripts</h2>

  {% if site.data.projects.intro %}
  <div class="intro">
      <p>{{ site.data.projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  

  {% for publication in site.data.projects.publications %}
  
    <div class="item">
        {% if publication.abstract %}
        <a class="publication-title" onclick="myFunction()">{{ publication.title }}</a>
        <div class="publication-authors">{{ publication.authors }}</div>
        <div class="abstract" id="ab" hidden>
          {{ publication.abstract }}
        </div>
      
      <script>
      function myFunction() {
      var x = document.getElementById("ab");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      </script>
      {% else %}
        <div class="publication-title">{{ publication.title }}</div>
        <div class="publication-authors">{{ publication.authors }}</div>
      {% endif %}

      
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
