{% if site.data.projects %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa far fa-file-alt"></i>Manuscripts</h2>

  {% if site.data.projects.intro %}
  <div class="intro">
      <p>{{ site.data.projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  

  {% for publication in site.data.projects.publications %}
  
    <div class="item">
      {% if publication.arxiv %}
        <div class="publication-title"><a href="{{ publication.arxiv }}" target="_blank">{{ publication.title }}</a></div>
      {% else %}
        <div class="publication-title">{{ publication.title }}</div>
      {% endif %}
      
      <div class="publication-authors">{{ publication.authors }}</div>
      
      {% if publication.abstract %}
        <div onclick="myFunction()">Abstract</div>
        <div class ="abstract" id="myDIV">
          {{ publication.abstract }}
        </div>
      
      <script>
      function myFunction() {
      var x = document.getElementById("myDIV");
         if (x.style.display === "none") {
             x.style.display = "block";
         } else {
             x.style.display = "none";
         }
      }
      </script>
      {% endif %}
      
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
