{% if site.data.projects %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa far fa-file-alt"></i>Manuscripts</h2>

  {% if site.data.projects.intro %}
  <div class="intro">
      <p>{{ site.data.projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  

  {% for publication in site.data.projects.publications %}
  
    <div class="item">
        {% if publication.abstract %}
        <a class="publication-title" onclick="myFunction{{ publication.id }}()">{{ publication.title }}</a>
        <div class="abstract" id="{{ publication.id }}" hidden>
          {{ publication.abstract }}
        </div>
        <div class="publication-authors">{{ publication.authors }}</div>
        {% if publication.arxiv %}
           [<a class="publication-journal" href="{{ publication.arxiv }}" target="_blank">arXiv</a>]
        {% endif %}
        {% if publication.slides %}
         [<a class="publication-journal" href="{{ publication.slides }}" target="_blank">slides</a>]
        {% endif %}
      
      <script>
      function myFunction{{ publication.id }}() {
      var x = document.getElementById("{{ publication.id }}");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      </script>
      {% else %}
        <div class="publication-title">{{ publication.title }}</div>
        <div class="publication-authors">{{ publication.authors }}</div>
        {% if publication.arxiv %}
          [<a href="{{ publication.arxiv }}" target="_blank">preprint</a>]
        {% endif %}
        {% if publication.slides %}
         [<a class="publication-journal" href="{{ publication.slides }}" target="_blank">slides</a>]
        {% endif %}
      {% endif %}

      
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
