{% if site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa far fa-file-alt"></i>Publications</h2>

  {% if site.data.publications.intro %}
  <div class="intro">
      <p>{{ site.data.publications.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  

  {% for publication in site.data.publications.publications %}
  
    <div class="item">
       {% if publication.abstract %}
        <a class="publication-title" style="color: #000033" onclick="myFunction{{ publication.id }}()">{{ publication.title }}</a>
        <div class="abstract" id="{{ publication.id }}" hidden>
          {{ publication.abstract }}
        </div>
        
        {% if publication.note %} 
          <div class="publication-note">{{ publication.note }}</div>
        {% endif %}      
      
        <div class="publication-authors">{{ publication.authors }}</div>
        
        {% if publication.link %} 
          <a class="publication-journal"> [<a href="{{ publication.link }}" target="_blank">{{ publication.journal }}</a>]  </span> 
        {% elsif publication.journal %}
          <span class="publication-journal">[{{ publication.journal }}]  </span>
        {% endif %}
      
        {% if publication.clink %} <a class="publication-journal">[<a href="{{ publication.clink }}" target="_blank"><b>{{ publication.conference }}</b></a> ]  </span>
        {% elsif publication.conference %} <span class="publication-journal">[<b>{{ publication.conference }}</b>]  </span> {% endif %}
      
        {% if publication.arxiv %} [<a class="publication-journal" href="{{ publication.arxiv }}" target="_blank">arXiv</a>] {% endif %}
      
        {% if publication.slides %}
         [<a class="publication-journal" href="{{ publication.slides }}" target="_blank">slides</a>]
        {% endif %}
        
        {% if publication.otherLink %}
         [<a class="publication-journal" href="{{ publication.otherLink }}" target="_blank">{{ publication.otherLinkName }}</a>]
        {% endif %}
      
      
      <script>
      function myFunction{{ publication.id }}() {
      var x = document.getElementById("{{ publication.id }}");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      </script>
      
      {% else %}
      
        <div class="publication-title">{{ publication.title }}</div>
      
      
      
        <div class="publication-authors">{{ publication.authors }}</div>
        
        {% if publication.link %} 
          <span class="publication-journal"> [<a href="{{ publication.link }}" target="_blank"> {{ publication.journal }}</a>] </span> 
        {% elsif publication.journal %}
          <span class="publication-journal"> [{{ publication.journal }}]</span>
        {% endif %}
      
        {% if publication.clink %} <span class="publication-journal"> [<a href="{{ publication.clink }}" target="_blank"> {{ publication.conference }} </a>] </span>
        {% elsif publication.conference %} <span class="publication-journal"> [{{ publication.conference }}] </span> {% endif %}
      
        {% if publication.arxiv %} [<a class="publication-journal" href="{{ publication.arxiv }}" target="_blank">arXiv</a>] {% endif %}
        
        {% if publication.slides %}
         [<a class="publication-journal" href="{{ publication.slides }}" target="_blank">slides</a>]
        {% endif %}
        
        {% if publication.otherLink %}
         [<a class="publication-journal" href="{{ publication.otherLink }}" target="_blank">{{ publication.otherLinkName }}</a>]
        {% endif %}
      
      {% endif %}
      
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
