{% if site.data.publications %}
<section class="section publications-section">

  <h2 class="section-title"><i class="fa far fa-file-alt"></i>Journal Publications</h2>

  {% if site.data.publications.intro %}
  <div class="intro">
      <p>{{ site.data.publications.intro }}</p>
  </div><!--//intro-->
  {% endif %}
  

  {% for publication in site.data.publications.publications %}
  
    <div class="item">
       {% if publication.abstract %}
        <a class="publication-title" onclick="myFunction{{ publication.id }}()">{{ publication.title }}</a>
        <div class="abstract" id="{{ publication.id }}" hidden>
          {{ publication.abstract }}
        </div>
        <div class="publication-authors">{{ publication.authors }}</div>
        
        {% if publication.link %} 
          <span class="publication-journal"> [ <a href="{{ publication.link }}" target="_blank"> {{ publication.journal }}</a> ] </span> 
        {% else %}
          <span class="publication-journal"> [ {{ publication.journal }} ]</span>
        {% endif %}
      
        {% if publication.clink %} <span class="publication-journal"> [ <a href="{{ publication.clink }}" target="_blank"> {{ publication.conference }} </a> ] </span>
        {% elseif publication.conference %} <span class="publication-journal"> [{{ publication.conference }}] </span> {% endif %}
      
        {% if publication.arxiv %} [<a href="{{ publication.arxiv }}" target="_blank">arXiv</a>] {% endif %}
      
      <script>
      function myFunction{{ publication.id }}() {
      var x = document.getElementById("{{ publication.id }}");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      </script>
      
      {% else %}
      
        <div class="publication-title">{{ publication.title }}</div>
        <div class="publication-authors">{{ publication.authors }}</div>
        
        {% if publication.link %} 
          <span class="publication-journal"> [ <a href="{{ publication.link }}" target="_blank"> {{ publication.journal }}</a> ] </span> 
        {% else %}
          <span class="publication-journal"> [ {{ publication.journal }} ]</span>
        {% endif %}
      
        {% if publication.clink %} <span class="publication-journal"> [ <a href="{{ publication.clink }}" target="_blank"> {{ publication.conference }} </a> ] </span>
        {% elseif publication.conference %} <span class="publication-journal"> [{{ publication.conference }}] </span> {% endif %}
      
        {% if publication.arxiv %} [<a href="{{ publication.arxiv }}" target="_blank">arXiv</a>] {% endif %}
      
      {% endif %}
      
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
